// $BUTTOMS
.btn
  padding: 20px
  color: #fff
  font-size: 1.1rem
  background:   $color-secondary
  opacity: .5
  text-decoration: none
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace
  text-shadow: 0 0 5px #000px
  border-radius: 5px
  &:hover
    background: $color-secondary
    text-decoration: underline
    opacity: 1

