@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;515;600;700&display=swap')
  

h1 
  font-size: 2em
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace
  letter-spacing: 2px

h2 
  font-size: 1.5em
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace
  letter-spacing: 2px

h3 
  font-size: 1.2em
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace
  letter-spacing: 2px

h4 
  font-size: 1.2em
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace
  letter-spacing: 2px

h5 
  font-size: 1em
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace
  letter-spacing: 2px

h6 
  font-size: 1em
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace
  letter-spacing: 2px

p 
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace
  letter-spacing: 1px

span 
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace

label 
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace

button 
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace

a 
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace

li 
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace

input
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace