* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.header {
  position: fixed;
  height: inherit;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #ffff23; }
  .header__Mobile {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__Mobile-logo {
      width: 40px;
      height: 40px; }
    .header__Mobile-icono {
      font-size: 35px; }

.intro {
  position: absolute;
  top: 50px;
  left: 0;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff; }
  .intro__content {
    max-width: 40rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    z-index: 10;
    text-align: center; }
    .intro__content h1 {
      padding: 20px;
      text-shadow: 0 0 15px #000; }
    .intro__content p {
      text-shadow: 0 0 5px #000;
      padding-bottom: 50px; }
  .intro__video {
    border: 1px solid blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    overflow: hidden; }
    .intro__video .video {
      min-width: 100%;
      min-height: 100%; }
  .intro__overlay {
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .85; }

.aboutmy {
  position: absolute;
  left: 0;
  top: calc(50px + 80vh);
  width: 100%;
  height: 550px; }
  .aboutmy__background {
    width: 100%;
    height: 550px;
    background-image: url("../images/perfildos.jpg");
    background-position: 60% 10%;
    background-size: cover;
    background-repeat: norepeat; }
  .aboutmy__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    background: #000000;
    opacity: .3;
    z-index: 1; }
  .aboutmy__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    display: block;
    padding-top: 250px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    z-index: 10; }
    .aboutmy__content h2 {
      width: 100%;
      padding: 10px 0; }
    .aboutmy__content p {
      font-size: 1em;
      width: 100%; }

.myProyects {
  position: absolute;
  top: calc(50px + 80vh + 550px);
  left: 0;
  height: 400px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }
  .myProyects__title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .myProyects__slider {
    width: 100%;
    height: calc(400px - 50px - 50px);
    text-align: center; }
    .myProyects__slider img {
      width: 220px;
      margin-top: 20px;
      border-radius: 3px;
      box-shadow: 0 0 5px #000; }
    .myProyects__slider h4 {
      padding: 10px 0; }
    .myProyects__slider p {
      width: 220px;
      margin: 0 auto;
      font-size: .9em;
      text-align: left; }
  .myProyects__directions {
    height: 300px;
    position: absolute;
    top: 50px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .myProyects__directions a {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 10px; }
  .myProyects__circulos {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .myProyects__circulos-circles {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 1px solid black;
      margin-left: 3px;
      margin: 0 2px;
      background: #dcdde1;
      display: inline-block;
      cursor: pointer; }

.btn {
  padding: 20px;
  color: #fff;
  font-size: 1.1rem;
  background: #c44569b7;
  text-decoration: none;
  font-family: Courier New, Courier, monospace;
  text-shadow: 0 0 5px #000 px;
  border-radius: 5px; }
  .btn:hover {
    background: #f51f5c;
    text-decoration: underline; }

.active {
  background-color: rgba(0, 0, 0, 0.5); }

.fade {
  animation-name: fade;
  animation-duration: .5s; }

@keyframes fade {
  0% {
    transform: rotate(-30deg); }
  25% {
    transform: rotate(30deg); }
  50% {
    transform: rotate(-30deg); }
  100% {
    transform: rotate(0deg); } }

h1 {
  font-size: 2em;
  font-family: Courier New, Courier, monospace;
  letter-spacing: 2px; }

h2 {
  font-size: 1.5em;
  font-family: Courier New, Courier, monospace;
  letter-spacing: 2px; }

p {
  font-family: Courier New, Courier, monospace;
  letter-spacing: 1px; }
