@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;515;600;700&display=swap");
/* line 1, src/sass/Layout/_side.sass */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* line 6, src/sass/Layout/_side.sass */
body::-webkit-scrollbar {
  width: 3px;
  background: #f7df1e;
  box-shadow: 0 0 5px black; }

/* line 11, src/sass/Layout/_side.sass */
body::-webkit-scrollbar-thumb {
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  background: #737373; }

/* line 16, src/sass/Layout/_side.sass */
.container::-webkit-scrollbar {
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 2px black; }

/* line 21, src/sass/Layout/_side.sass */
.container::-webkit-scrollbar-thumb {
  height: 5px;
  border-radius: 5px;
  background: #737373; }

/* line 2, src/sass/Layout/_blocks.sass */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
  z-index: 100;
  background: #f7df1e;
  box-shadow: 0 2px 4px #4d4d4d; }
  /* line 8, src/sass/Layout/_blocks.sass */
  .header__Mobile {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    /* line 12, src/sass/Layout/_blocks.sass */
    .header__Mobile-logo {
      width: 40px;
      height: 40px; }
    /* line 15, src/sass/Layout/_blocks.sass */
    .header__Mobile-icono {
      font-size: 35px; }
      /* line 17, src/sass/Layout/_blocks.sass */
      .header__Mobile-icono a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        text-decoration: none;
        color: black; }

/* line 24, src/sass/Layout/_blocks.sass */
.mobile {
  position: fixed;
  top: -100%;
  left: -100%;
  height: 100vh;
  width: 315px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1000;
  border-radius: 0 0 12px 0;
  background-color: black; }
  /* line 34, src/sass/Layout/_blocks.sass */
  .mobile__back {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.3em; }
    /* line 39, src/sass/Layout/_blocks.sass */
    .mobile__back a {
      text-decoration: none;
      color: white;
      cursor: pointer; }
  /* line 43, src/sass/Layout/_blocks.sass */
  .mobile__logo {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    /* line 50, src/sass/Layout/_blocks.sass */
    .mobile__logo img {
      width: 80%; }
  /* line 52, src/sass/Layout/_blocks.sass */
  .mobile__informations {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    /* line 56, src/sass/Layout/_blocks.sass */
    .mobile__informations-click {
      height: 30px;
      width: 130px;
      border: 1px solid white;
      opacity: .6;
      background-color: transparent;
      border-radius: 6px; }
      /* line 63, src/sass/Layout/_blocks.sass */
      .mobile__informations-click a {
        width: 100%;
        color: white;
        text-decoration: none; }
    /* line 67, src/sass/Layout/_blocks.sass */
    .mobile__informations-click:hover {
      opacity: 1; }
    /* line 69, src/sass/Layout/_blocks.sass */
    .mobile__informations-diferent {
      height: 30px;
      width: 130px;
      border-radius: 6px;
      border: none;
      opacity: .6;
      background-color: #f7df1e; }
      /* line 76, src/sass/Layout/_blocks.sass */
      .mobile__informations-diferent a {
        width: 100%;
        color: black;
        font-weight: 900;
        text-decoration: none; }
    /* line 81, src/sass/Layout/_blocks.sass */
    .mobile__informations-diferent:hover {
      opacity: 1; }
  /* line 83, src/sass/Layout/_blocks.sass */
  .mobile__socialMedia {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px; }
    /* line 89, src/sass/Layout/_blocks.sass */
    .mobile__socialMedia-red {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      opacity: .7;
      border-radius: 50%; }
      /* line 96, src/sass/Layout/_blocks.sass */
      .mobile__socialMedia-red a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        text-decoration: none; }
        /* line 100, src/sass/Layout/_blocks.sass */
        .mobile__socialMedia-red a span {
          font-size: 1.7em; }

/* line 105, src/sass/Layout/_blocks.sass */
.intro {
  position: block;
  top: 50px;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; }
  /* line 110, src/sass/Layout/_blocks.sass */
  .intro__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 10;
    text-align: center; }
    /* line 119, src/sass/Layout/_blocks.sass */
    .intro__content-net {
      width: 40%;
      min-width: 300px;
      height: 35%;
      margin: 20px 5%  0; }
      /* line 124, src/sass/Layout/_blocks.sass */
      .intro__content-net h1 {
        padding: 20px;
        text-shadow: 0 0 15px #000; }
      /* line 127, src/sass/Layout/_blocks.sass */
      .intro__content-net h3 {
        padding: 20px;
        text-shadow: 0 0 15px #000; }
      /* line 130, src/sass/Layout/_blocks.sass */
      .intro__content-net p {
        text-shadow: 0 0 5px #000;
        padding-bottom: 10px; }
      /* line 133, src/sass/Layout/_blocks.sass */
      .intro__content-net a {
        text-decoration: none;
        width: 50px;
        color: #f7df1e; }
        /* line 137, src/sass/Layout/_blocks.sass */
        .intro__content-net a span {
          font-size: 25px; }
      /* line 139, src/sass/Layout/_blocks.sass */
      .intro__content-net .socialNet {
        width: 150px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        /* line 146, src/sass/Layout/_blocks.sass */
        .intro__content-net .socialNet a {
          text-decoration: none;
          color: #f7df1e; }
          /* line 149, src/sass/Layout/_blocks.sass */
          .intro__content-net .socialNet a span {
            font-size: 25px; }
  /* line 151, src/sass/Layout/_blocks.sass */
  .intro__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden; }
    /* line 155, src/sass/Layout/_blocks.sass */
    .intro__video .video {
      min-width: 100%;
      min-height: 100%; }
  /* line 158, src/sass/Layout/_blocks.sass */
  .intro__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #303952;
    z-index: 1;
    opacity: .85; }

/* line 166, src/sass/Layout/_blocks.sass */
.aboutmy {
  position: relative;
  width: 100%;
  height: 100vh; }
  /* line 170, src/sass/Layout/_blocks.sass */
  .aboutmy__background {
    width: 100%;
    height: 100vh;
    background-image: url("../images/perfildos.jpg");
    background-position: 60% 10%;
    background-size: cover;
    background-repeat: norepeat; }
  /* line 177, src/sass/Layout/_blocks.sass */
  .aboutmy__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #000000;
    opacity: .4;
    z-index: 1; }
  /* line 183, src/sass/Layout/_blocks.sass */
  .aboutmy__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 550px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 200px;
    color: #ffffff;
    z-index: 10; }
    /* line 190, src/sass/Layout/_blocks.sass */
    .aboutmy__content h2 {
      width: 100%;
      padding: 10px 0; }
    /* line 193, src/sass/Layout/_blocks.sass */
    .aboutmy__content p {
      font-size: 1em;
      width: 280px; }
    /* line 196, src/sass/Layout/_blocks.sass */
    .aboutmy__content-form {
      width: 280px;
      height: 220px;
      padding-top: 50px;
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px 0; }
      /* line 204, src/sass/Layout/_blocks.sass */
      .aboutmy__content-form input {
        height: 30px;
        border-radius: 7px;
        outline: none; }
      /* line 208, src/sass/Layout/_blocks.sass */
      .aboutmy__content-form .input {
        padding-left: 20px;
        box-shadow: 0 0 3px #a7a1a1; }
      /* line 211, src/sass/Layout/_blocks.sass */
      .aboutmy__content-form .button {
        color: white;
        outline: none;
        border: 1px solid black;
        background-color: #f7df1e;
        text-shadow: 0 0 3px black;
        opacity: .7; }
        /* line 218, src/sass/Layout/_blocks.sass */
        .aboutmy__content-form .button:hover {
          opacity: 1; }

/* line 222, src/sass/Layout/_blocks.sass */
.myProyects {
  position: relative;
  width: 100%;
  height: 400px;
  padding-left: 20px;
  padding-right: 20px; }
  /* line 227, src/sass/Layout/_blocks.sass */
  .myProyects__title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
  /* line 231, src/sass/Layout/_blocks.sass */
  .myProyects__slider {
    width: 100%;
    height: 300px;
    text-align: center; }
    /* line 235, src/sass/Layout/_blocks.sass */
    .myProyects__slider img {
      width: 220px;
      margin-top: 20px;
      border-radius: 3px;
      box-shadow: 0 0 5px #000; }
    /* line 240, src/sass/Layout/_blocks.sass */
    .myProyects__slider h4 {
      padding: 10px 0; }
    /* line 242, src/sass/Layout/_blocks.sass */
    .myProyects__slider p {
      width: 220px;
      margin: 0 auto;
      font-size: .9em;
      text-align: left; }
  /* line 247, src/sass/Layout/_blocks.sass */
  .myProyects__directions {
    position: absolute;
    height: 300px;
    top: 50px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    /* line 254, src/sass/Layout/_blocks.sass */
    .myProyects__directions a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      text-decoration: none;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      cursor: pointer;
      font-size: 10px; }
  /* line 264, src/sass/Layout/_blocks.sass */
  .myProyects__circulos {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
    /* line 268, src/sass/Layout/_blocks.sass */
    .myProyects__circulos-circles {
      height: 20px;
      width: 20px;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid black;
      margin-left: 3px;
      margin: 0 2px;
      background: #dcdde1;
      cursor: pointer; }

/* line 281, src/sass/Layout/_blocks.sass */
.carousel {
  position: relative;
  width: 100%;
  height: 480px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7df1e;
  border-top: 3px solid black; }
  /* line 290, src/sass/Layout/_blocks.sass */
  .carousel h2 {
    width: 100%;
    padding: 10px 0;
    text-align: center; }
  /* line 294, src/sass/Layout/_blocks.sass */
  .carousel__container {
    display: block;
    height: 400px;
    padding-top: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
    /* line 301, src/sass/Layout/_blocks.sass */
    .carousel__container::-webkit-scrollbar {
      height: 5px;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 1px black; }
    /* line 305, src/sass/Layout/_blocks.sass */
    .carousel__container::-webkit-scrollbar-thumb {
      height: 5px;
      border-radius: 5px;
      background: #f7df1e; }
    /* line 309, src/sass/Layout/_blocks.sass */
    .carousel__container-item {
      display: inline-block;
      width: 260px;
      height: 320px;
      margin: 5px;
      background: #00000073;
      border: 1px solid black;
      border-radius: 12px;
      box-shadow: 0 0 8px #4d4d4d; }
      /* line 318, src/sass/Layout/_blocks.sass */
      .carousel__container-item a {
        text-decoration: none;
        color: black; }
        /* line 321, src/sass/Layout/_blocks.sass */
        .carousel__container-item a:hover {
          color: #ffffff; }
        /* line 323, src/sass/Layout/_blocks.sass */
        .carousel__container-item a img {
          width: 100%;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px; }
        /* line 327, src/sass/Layout/_blocks.sass */
        .carousel__container-item a h4 {
          padding: 8px;
          text-align: center; }
        /* line 330, src/sass/Layout/_blocks.sass */
        .carousel__container-item a p {
          width: 100%;
          height: 60px;
          padding-left: 5px;
          word-wrap: break-word;
          font-size: .8em;
          text-align: left; }

/* line 339, src/sass/Layout/_blocks.sass */
.contact {
  height: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 3px solid black; }
  /* line 345, src/sass/Layout/_blocks.sass */
  .contact__contenido {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    /* line 348, src/sass/Layout/_blocks.sass */
    .contact__contenido-input {
      padding-left: 15px;
      border: 1px solid #a7a1a1;
      box-shadow: 0 0 5px #a7a1a1; }
    /* line 352, src/sass/Layout/_blocks.sass */
    .contact__contenido-botton {
      outline: none;
      border: 1px solid black;
      background-color: #f7df1e;
      opacity: .5; }
      /* line 357, src/sass/Layout/_blocks.sass */
      .contact__contenido-botton:hover {
        opacity: 1; }
    /* line 359, src/sass/Layout/_blocks.sass */
    .contact__contenido h2 {
      font-size: 1.2em; }
    /* line 361, src/sass/Layout/_blocks.sass */
    .contact__contenido input {
      height: 30px;
      width: 200px;
      border-radius: 7px; }

/* line 369, src/sass/Layout/_blocks.sass */
.footer {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  background-color: #f7df1e;
  border-top: 3px solid black; }
  /* line 375, src/sass/Layout/_blocks.sass */
  .footer__contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    /* line 378, src/sass/Layout/_blocks.sass */
    .footer__contenedor-information {
      height: 250px;
      width: 290px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-right: 20px;
      padding-left: 20px;
      text-align: center; }
      /* line 386, src/sass/Layout/_blocks.sass */
      .footer__contenedor-information h2 {
        padding: 15px 0; }
        /* line 388, src/sass/Layout/_blocks.sass */
        .footer__contenedor-information h2 span {
          padding-right: 10px;
          font-size: 20px; }
      /* line 391, src/sass/Layout/_blocks.sass */
      .footer__contenedor-information ul {
        list-style: none;
        text-align: left; }
        /* line 394, src/sass/Layout/_blocks.sass */
        .footer__contenedor-information ul li {
          padding: 5px 0;
          font-family: Courier New, Courier, monospace; }
          /* line 397, src/sass/Layout/_blocks.sass */
          .footer__contenedor-information ul li a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black; }
            /* line 402, src/sass/Layout/_blocks.sass */
            .footer__contenedor-information ul li a:hover {
              text-decoration: underline; }
            /* line 404, src/sass/Layout/_blocks.sass */
            .footer__contenedor-information ul li a span {
              width: 40px;
              padding-right: 10px;
              font-size: 1.5em; }

/* line 415, src/sass/Layout/_blocks.sass */
.piePagina {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black; }
  /* line 419, src/sass/Layout/_blocks.sass */
  .piePagina__links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    /* line 427, src/sass/Layout/_blocks.sass */
    .piePagina__links h6 a {
      text-decoration: none;
      color: #f7df1e; }
      /* line 430, src/sass/Layout/_blocks.sass */
      .piePagina__links h6 a:hover {
        text-decoration: underline; }

/* line 434, src/sass/Layout/_blocks.sass */
.carousel__container-item:hover ~ .carousel__container-item {
  transform: translate3d(20px, 0, 0);
  transition: .3s; }

/* line 438, src/sass/Layout/_blocks.sass */
.carousel__container:hover .carousel__container-item {
  opacity: .3;
  transition: .3s; }

/* line 442, src/sass/Layout/_blocks.sass */
.carousel__container:hover .carousel__container-item:hover {
  transform: scale(1.2);
  opacity: 1;
  transition: .3s; }

/* line 2, src/sass/Base/_botones.sass */
.btn {
  padding: 20px;
  color: #fff;
  font-size: 1.1rem;
  background: #f7df1e;
  opacity: .5;
  text-decoration: none;
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace;
  text-shadow: 0 0 5px #000 px;
  border-radius: 5px; }
  /* line 12, src/sass/Base/_botones.sass */
  .btn:hover {
    background: #f7df1e;
    text-decoration: underline;
    opacity: 1; }

/* line 1, src/sass/Base/_links.sass */
.active {
  background-color: rgba(0, 0, 0, 0.5); }

/* line 4, src/sass/Base/_tipografias.sass */
h1 {
  font-size: 2em;
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace;
  letter-spacing: 2px; }

/* line 9, src/sass/Base/_tipografias.sass */
h2 {
  font-size: 1.5em;
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace;
  letter-spacing: 2px; }

/* line 14, src/sass/Base/_tipografias.sass */
h3 {
  font-size: 1.2em;
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace;
  letter-spacing: 2px; }

/* line 19, src/sass/Base/_tipografias.sass */
h4 {
  font-size: 1.2em;
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace;
  letter-spacing: 2px; }

/* line 24, src/sass/Base/_tipografias.sass */
h5 {
  font-size: 1.2em;
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace;
  letter-spacing: 2px; }

/* line 29, src/sass/Base/_tipografias.sass */
h6 {
  font-size: .7em;
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace;
  letter-spacing: 2px; }

/* line 34, src/sass/Base/_tipografias.sass */
p {
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace;
  letter-spacing: 1px; }

/* line 38, src/sass/Base/_tipografias.sass */
span {
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace; }

/* line 41, src/sass/Base/_tipografias.sass */
label {
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace; }

/* line 44, src/sass/Base/_tipografias.sass */
button {
  font-family: 'Fira Code', monospace, Courier New, Courier, monospace; }
