// Bloque de estilos para el menu de navegación pantalla mobile y tablet
.header
  position: fixed
  @include ubications(0, 0, inherit, 100%)
  z-index: 100
  background: $color-secondary
  box-shadow: 0 2px 4px $color-darkgrey
  &__Mobile
    height: $altura-nav
    @include margen
    @include flex-one
    &-logo
      width: $anchoaltoicono
      height: $anchoaltoicono
    &-icono
      font-size: $anchoaltoicono - 5px
      & a 
        @include flex-one
        cursor: pointer
        text-decoration: none
        color: $color-black
// Bloque de codigp enfocado a la sección de menu mobile

.mobile
  position: fixed
  top: -100%
  left: -100%
  height: 100vh
  width: 315px
  @include margen
  z-index: 1000
  border-radius: 0 0 $border-radius  0
  background-color: $color-black
  &__back
    height: 100px
    width: 100%
    @include flex-four
    font-size: 1.3em
    & a
      text-decoration: none
      color: $color-white
      cursor: pointer
  &__logo
    height: 120px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    & img 
      width: 80%
  &__informations
    height: 300px
    width: 100%
    @include flex-five
    &-click 
      height: 30px
      width: 130px
      border: 1px solid $color-white
      opacity: .6
      background-color: transparent
      border-radius: $border-radius-uno
      & a 
        width: 100%
        color:  $color-white
        text-decoration: none
    &-click:hover
      opacity: 1
    &-diferent
      height: 30px
      width: 130px
      border-radius: $border-radius-uno 
      border: none
      opacity: .6
      background-color: $color-secondary
      & a 
        width: 100%
        color: $color-black
        font-weight: 900
        text-decoration: none
    &-diferent:hover
      opacity: 1
  &__socialMedia
    height: 120px
    width: 100%
    @include flex-six
    padding-left: 30px
    padding-right: 30px
    &-red 
      width: 40px
      height: 40px 
      @include flex-two
      background-color: $color-white
      opacity: .7
      border-radius: 50%
      & a 
        @include flex-two
        color: $color-black
        text-decoration: none
        & span 
          font-size: 1.7em


// Bloque de codigo que se encarga de estilizar todo el contenido correspondiente al intro
.intro
  position: block
  @include ubications($positionIntro, 0, $altura-video, 100%)
  @include flex-two
  color: #fff
  &__content
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center 
    flex-wrap: wrap
    z-index: 10
    text-align: center
    &-net  
      width: 40% 
      min-width: 300px
      height: 35%
      margin: 20px 5%  0
      h1 
        padding: 20px
        text-shadow: 0 0 15px #000
      h3 
        padding: 20px
        text-shadow: 0 0 15px #000
      p 
        text-shadow: 0 0 5px #000
        padding-bottom: 10px 
      & a 
        text-decoration: none
        width: 50px
        color: $color-secondary
        span 
          font-size: 25px
      & .socialNet
        width: 150px
        height: 40px
        margin: 0 auto
        display: flex
        justify-content: space-evenly
        align-items: center 
        & a 
          text-decoration: none 
          color: $color-secondary
          & span 
            font-size: 25px
  &__video
    position: absolute
    @include ubications(0, 0, $altura-video, 100%)
    overflow: hidden
    .video
      min-width: 100%
      min-height: 100%
  &__overlay
    position: absolute
    @include ubications(0, 0, $altura-video, 100%)
    background: #303952
    z-index: 1
    opacity: .85
// Bloque correspondiente a la sección sobre mi.
  
.aboutmy
  position: relative
  width: 100%
  height: $altura-sobremi
  &__background
    width: 100%
    height: $altura-sobremi
    background-image: url('../images/perfildos.jpg')
    background-position: 60% 10%
    background-size: cover
    background-repeat: norepeat
  &__overlay
    position: absolute
    @include ubications(0, 0, $altura-sobremi, 100%)
    background: #000000
    opacity: .4
    z-index: 1
  &__content
    position: absolute
    @include ubications(0, 0, 550px, 100%)
    @include margen
    padding-top: 200px
    color: #ffffff
    z-index: 10
    h2 
      width: 100%
      padding: 10px 0
    p 
      font-size: 1em
      width: 280px
    &-form
      width: 280px
      height: 220px
      padding-top: 50px
      display: none
      flex-direction: column
      justify-content: space-evenly
      margin: 10px 0
      & input 
        height: 30px
        border-radius: 7px
        outline: none
      & .input
        padding-left: 20px
        box-shadow: 0 0 3px #a7a1a1
      & .button
        color: $color-white
        outline: none
        border: 1px solid black
        background-color: $color-secondary
        text-shadow: 0 0 3px $color-black
        opacity: .7
        &:hover
          opacity: 1
// Bloque para estilizar los componentes correspondientes a la sección de mis proyectos

.myProyects
  position: relative
  width: 100%
  height: $altura-myProyects
  @include margen
  &__title
    width: 100%
    height: 50px
    @include flex-two
  &__slider
    width: 100%
    height:  $alturaSlide
    text-align: center
    img 
      width: 220px
      margin-top: 20px
      border-radius: 3px
      box-shadow: 0 0 5px #000
    h4 
      padding: 10px 0
    p 
      width: 220px
      margin: 0 auto
      font-size: .9em
      text-align: left 
  &__directions
    position: absolute
    height: 300px
    top: 50px
    left: 20px
    right: 20px 
    @include flex-one
    a 
      @include flex-two
      width: 20px
      height: 20px
      text-decoration: none
      border-radius: 50%
      background-color: rgba(0, 0, 0, 0.5)
      color: white
      cursor: pointer
      font-size: 10px
  &__circulos
    width: 100%
    height: 50px
    @include flex-two
    &-circles
      height: 20px
      width: 20px
      display: inline-block
      border-radius: 50%
      border: 1px solid black
      margin-left: 3px
      margin: 0 2px
      background:  #dcdde1
      cursor: pointer

// Bloque para estilizar los componentes correspondientes a la sección del carousel de tutoriales

.carousel
  position: relative
  width: 100%
  height: $alturaTutorials 
  @include margen
  padding-top: 20px
  padding-bottom: 20px
  background-color: $color-secondary
  border-top: 3px solid black
  & h2 
    width: 100%
    padding: 10px 0
    text-align: center
  &__container
    display: block
    height: $alturaTutorials  - 80px
    padding-top: 30px
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    &::-webkit-scrollbar 
      height: 5px;
      background: rgba(255,255,255, .2)
      box-shadow: 0 0 1px black
    &::-webkit-scrollbar-thumb 
      height: 5px;
      border-radius: 5px;
      background: $color-secondary
    &-item 
      display: inline-block;
      width: 260px
      height: 320px
      margin: 5px
      background: $color-black-dos
      border: 1px solid black
      border-radius: $border-radius
      box-shadow: 0 0 8px $color-darkgrey
      & a 
        text-decoration: none
        color: $color-black
        &:hover 
          color: #ffffff
        & img 
          width: 100%
          border-top-left-radius: $border-radius
          border-top-right-radius: $border-radius
        & h4 
          padding: 8px 
          text-align: center
        & p 
          width: 100%
          height: 60px
          padding-left: 5px
          word-wrap: break-word
          font-size: .8em
          text-align: left


.contact 
  height: 200px
  padding-top: 15px
  padding-bottom: 15px
  @include margen
  border-top: 3px solid black
  &__contenido
    height: 100%
    @include flex-seven 
    &-input 
      padding-left: 15px
      border: 1px solid #a7a1a1
      box-shadow: 0 0 5px #a7a1a1
    &-botton 
      outline: none
      border: 1px solid black
      background-color: $color-secondary
      opacity: .5
      &:hover
        opacity: 1
    & h2 
      font-size: 1.2em
    & input 
      height: 30px
      width: 200px
      border-radius: 7px
      

// Bloque para estilizar la sección del footer

.footer
  width: 100%
  @include margen
  padding-top: 30px
  background-color: $color-secondary
  border-top: 3px solid black
  &__contenedor
    @include flex-two
    flex-wrap: wrap
    &-information
      height: 250px
      width: 290px
      margin-top: 10px 
      margin-bottom: 10px
      padding-right: 20px
      padding-left: 20px
      text-align: center
      & h2 
        padding: 15px 0
        & span 
          padding-right: 10px
          font-size: 20px
      & ul
        list-style: none 
        text-align: left
        & li 
          padding: 5px 0 
          font-family: Courier New, Courier, monospace
          & a 
            display: flex
            align-items: center 
            text-decoration: none
            color: $color-black
            &:hover 
              text-decoration: underline
            & span 
              width: 40px
              padding-right: 10px
              font-size: 1.5em


// @media screen and ($width-nameTwo : $breakpoint-md) 
//   .footer__contenedor
//     justify-content: space-around
// Bloque correspondiente a la sección de terminos y condiciones 

.piePagina
  height: 40px
  @include margen
  background-color: $color-black
  &__links
    width: 100%
    height: 100%
    display: flex
    justify-content: space-between
    align-items: center
    & h6 
      // width: 30%
      & a 
        text-decoration: none
        color: $color-secondary
        &:hover 
          text-decoration: underline


.carousel__container-item:hover ~ .carousel__container-item 
  transform: translate3d(20px, 0, 0 )
  transition: .3s

.carousel__container:hover .carousel__container-item 
  opacity: .3
  transition: .3s

.carousel__container:hover .carousel__container-item:hover 
  transform: scale(1.2)
  opacity: 1
  transition: .3s







